California Housing Dataset

In [ ]:
import pandas as pd  
import numpy as np  
import matplotlib.pyplot as plt 
import seaborn as sns
%matplotlib inline

In [ ]:
data = pd.read_csv("/content/sample_data/california_housing_train.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17000 entries, 0 to 16999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           17000 non-null  float64
 1   latitude            17000 non-null  float64
 2   housing_median_age  17000 non-null  float64
 3   total_rooms         17000 non-null  float64
 4   total_bedrooms      17000 non-null  float64
 5   population          17000 non-null  float64
 6   households          17000 non-null  float64
 7   median_income       17000 non-null  float64
 8   median_house_value  17000 non-null  float64
dtypes: float64(9)
memory usage: 1.2 MB

In [ ]:
data.head()

   longitude  latitude  ...  median_income  median_house_value
0    -114.31     34.19  ...         1.4936             66900.0
1    -114.47     34.40  ...         1.8200             80100.0
2    -114.56     33.69  ...         1.6509             85700.0
3    -114.57     33.64  ...         3.1917             73400.0
4    -114.57     33.57  ...         1.9250             65500.0

[5 rows x 9 columns]

In [ ]:
data.tail()

       longitude  latitude  ...  median_income  median_house_value
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[5 rows x 9 columns]

In [ ]:
data.describe

<bound method NDFrame.describe of        longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]>

In [ ]:
data.shape

(17000, 9)

In [ ]:
corr = data.corr()
print(corr)

                    longitude  latitude  ...  median_income  median_house_value
longitude            1.000000 -0.925208  ...      -0.015485           -0.044982
latitude            -0.925208  1.000000  ...      -0.080303           -0.144917
housing_median_age  -0.114250  0.016454  ...      -0.115932            0.106758
total_rooms          0.047010 -0.038773  ...       0.195383            0.130991
total_bedrooms       0.071802 -0.069373  ...      -0.013495            0.045783
population           0.101674 -0.111261  ...      -0.000638           -0.027850
households           0.059628 -0.074902  ...       0.007644            0.061031
median_income       -0.015485 -0.080303  ...       1.000000            0.691871
median_house_value  -0.044982 -0.144917  ...       0.691871            1.000000

[9 rows x 9 columns]

In [ ]:
print(data.mean())

longitude               -119.562108
latitude                  35.625225
housing_median_age        28.589353
total_rooms             2643.664412
total_bedrooms           539.410824
population              1429.573941
households               501.221941
median_income              3.883578
median_house_value    207300.912353
dtype: float64

In [ ]:
print(data.std())

longitude                  2.005166
latitude                   2.137340
housing_median_age        12.586937
total_rooms             2179.947071
total_bedrooms           421.499452
population              1147.852959
households               384.520841
median_income              1.908157
median_house_value    115983.764387
dtype: float64

In [ ]:
data['median_house_value'].value_counts()

500001.0    814
137500.0     95
162500.0     89
112500.0     85
187500.0     74
           ...
285900.0      1
368000.0      1
51000.0       1
410200.0      1
428500.0      1
Name: median_house_value, Length: 3694, dtype: int64

In [ ]:
X = data.drop('median_house_value', axis=1)  
y = data['median_house_value']

In [ ]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [ ]:
print(X_train)

       longitude  latitude  ...  households  median_income
9403     -119.22     36.31  ...       462.0         1.5464
12565    -121.66     36.37  ...       208.0         6.1668
11282    -121.13     38.37  ...       155.0         7.0326
6468     -118.27     34.07  ...       430.0         2.3981
3484     -117.90     34.07  ...       280.0         3.0550
...          ...       ...  ...         ...            ...
12725    -121.78     38.66  ...       641.0         4.8226
13665    -121.99     37.53  ...       923.0         5.0423
14355    -122.11     37.88  ...       606.0         6.4666
1738     -117.25     33.10  ...       614.0         3.9464
1449     -117.19     33.34  ...       460.0         6.1009

[13600 rows x 8 columns]

In [ ]:
print(y_train)

9403      54100.0
12565    405800.0
11282    241100.0
6468     183300.0
3484     172000.0
           ...
12725    139900.0
13665    222200.0
14355    348200.0
1738     171900.0
1449     314400.0
Name: median_house_value, Length: 13600, dtype: float64

In [ ]:
print(X_test)

       longitude  latitude  ...  households  median_income
15734    -122.40     37.75  ...      1383.0         2.8679
682      -117.05     34.04  ...       698.0         2.2900
16973    -124.17     40.78  ...       327.0         1.6369
9556     -119.33     36.32  ...       451.0         5.2561
7385     -118.35     34.06  ...       551.0         3.2411
...          ...       ...  ...         ...            ...
7197     -118.33     34.05  ...       404.0         2.5284
4957     -118.11     34.08  ...       642.0         3.3966
11326    -121.18     38.69  ...       920.0         6.3528
3124     -117.82     33.64  ...       278.0         9.8589
5974     -118.21     33.93  ...       393.0         2.6953

[3400 rows x 8 columns]

In [ ]:
print(y_test)

15734    243300.0
682      111800.0
16973     68300.0
9556     121300.0
7385     250000.0
           ...
7197     226300.0
4957     243200.0
11326    274500.0
3124     500001.0
5974     121000.0
Name: median_house_value, Length: 3400, dtype: float64

In [ ]:
from sklearn.tree import DecisionTreeClassifier  
data_classifier = DecisionTreeClassifier()  
data_classifier.fit(X_train, y_train) 
y_pred = data_classifier.predict(X_test)


correct = (y_pred==y_test).sum()
accuracy = correct/len(y_test)*100
print("accuracy = ", accuracy, "%")